<h2>Release package</h2>
<div class="pa-input">
    {{ input('checkbox', 'pa-release-options', 1, {id: 'enableEntries', checked: true}) }}
    <label for="enableEntries">Enable all disabled entries</label>
</div>
<div class="pa-input">
    {{ input('checkbox', 'pa-release-options', 1, {id: 'removeFromPackage', checked: true}) }}
    <label for="removeFromPackage">Remove released entries from package</label>
</div>
<div class="pa-input">
    {{ input('checkbox', 'pa-release-options', 1, {id: 'validAllOnly', checked: true}) }}
    <label for="validAllOnly">Execute only if all entries pass validation.</label>
</div>
<div class="pa-input">
    {{ input('checkbox', 'pa-release-options', 1, {id: 'createBackup', checked: false}) }}
    <label for="createBackup">Create database backup.</label>
</div>

<button type="button" onclick="pa_release({{ entry.id }})"
        class="btn submit pa-button">
    Release package
</button>
<button type="button" onclick= "Craft.createElementEditor('\\craft\\elements\\Entry', {
        elementId: {{ entry.id }},
        siteId: {{ requestedSite.id }}
        })"
        class="btn pa-button">
    Edit package
</button>

